{% extends "generic.html" %}
{% block title %}<title>Book Details</title>{% endblock %}
{% block main %}
    <main class="container-fluid px-3 px-md-5">
        <section class="row">
            <h1 class="mb-5 text-center">Book details</h1>
            <div class="text-end mb-3">
                <a href="{% url 'shopping_cart' %}" class="btn btn-outline-secondary">Shopping Cart</a>
            </div>
            <section class="col-md-6">
                <h2>{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
                <p>Category: {{ book.category }}</p>
                <p>Release date: {{ book.release_date }}</p>
                <p>Number of pages: {{ book.number_of_pages }}</p>
                <p>Description: {{ book.book_description }}</p>
            </section>
            <section class="col-md-6 text-center">
                {% if book.cover %}<img src="{{ book.cover.url }}"
     alt="Cover for {{ book.title }}"
     class="h-50"/>{% endif %}
                <h2 class="my-3">{{ book.price }}$</h2>
                <button class="btn btn-primary mb-3">Buy</button>
                {% if books_in_cart %}
                    <p id="already-in-cart">Book already in cart.</p>
                {% else %}
                    <form method="post" action="{% url 'add_book_to_cart' book.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary mb-3" id="add-to-cart">Add to shopping cart</button>
                    </form>
                {% endif %}
            </section>
        </section>
    </main>
{% endblock %}
