{% extends "generic.html" %}
{% block title %}<title>Shopping Cart</title>{% endblock %}
{% block main %}
    <main class="container-fluid">
        {% if object_list %}
            <h1 class="text-center mb-3">Shopping Cart</h1>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Number of copies</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for book_in_cart in object_list %}
                    <tr>
                        <td>{{ book_in_cart.book.title }}</td>
                        <td>{{ book_in_cart.book.author }}</td>
                        <td>{{ book_in_cart.book.price }}</td>
                        <td>{{ book_in_cart.number }}</td>
                        <td>
                            <a href="{% url 'remove_from_cart' book_in_cart.book.pk %}"
                               class="btn btn-outline-danger">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="text-end">
                <strong class="mx-3">Total price: {{ total_price }}$</strong>
                <a href="{% url 'checkout_page' %}" class="btn btn-primary">Checkout</a>
            </div>
        {% else %}
            <h1 class="text-center">Your shopping cart is empty.</h1>
        {% endif %}
    </main>
{% endblock %}
